@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', "Playfair Display";
    font-weight: 300;
    scroll-behavior: smooth;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.divider {
    display: flex;
    background-color: rgb(85, 85, 85);
    height: 2px;
    min-width: 3%;
}

.vertical-divider-contact_reservation {
    border-right: 2px solid rgb(85, 85, 85);
    height: 65vh;
}

::marker {
    color: transparent;
}


:root {
    --bg-color-black: #060505;
    --off-white: #F5F5DC;
    --color-border-button: rgb(156, 90, 64);
    --color-text-gold: rgb(250, 216, 26);
    --color-border-gray: rgb(99, 99, 99);

    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
