.menu {
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: #060505;
    align-items: center;
    padding-bottom: 2%;
}

.carousel-inner {
    height: 100%;
    width: 70vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.c-item {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel {
    height: 50vh;
}

.c-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.daily-recomendation {
    margin-right: 4%;
    max-height: 100%;
}

.daily-recomendation p {
    color: white;
    text-align: justify;
    text-indent: 5%;
    font-size: larger;
}

.menu_daily-recomendation {
    color: white;
    background-color: #060505;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_daily-recomendation h2 {
    margin: 0px;
    margin-top: 2%;
}